################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FormatParser/bin/Debug/net7.0
/FormatParser/obj
/FormatParser.Library/obj
